*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: orchid;
}

.form-control{
    width: 35%;
}

.for-bg{
    background-image:url("../assets/employees.jpg");
    background-repeat: no-repeat;
}


